summary {
    font-family:var(--font-cormorant-garamond);
}
summary::after {
    content: '\002B';
    color: #301814;
    display: flex;
    align-items:start;
    transition: 0.2s;
    font-weight:bolder;
}
  
summary::-webkit-details-marker {
    display: none;
}


details {
    padding: 0.5rem;
    border-radius: 0px;
    /* border: 2px solid #301814; */
    /* filter: drop-shadow(-10px 10px #992444); */
    
}
details:hover {
    box-shadow: 0rem 0rem 2rem #FFCB86;
    transition: 0.4s ease-in-out;
}

details:active {
    box-shadow: 0rem 0rem 2rem #FFCB86;
}
  
details[open] summary {
    background: #FFCB86;
    color:#301814;
}

details[open] summary:after{
    content: "\00D7";
}
  
details[open] .panel {
    background: #FFCB86;
    color:#301814;
    padding: .5em 1em;
}

.border-b {
    border-bottom: 10px;
}