.menu-title {
    /* text-shadow: 0rem 0rem 3rem white; */
      /* text-shadow: 0rem 0rem 3rem white; */
      background-color: #A6CDC4;
      padding:2rem;
      border-radius:20px;
      border: 8px solid #992444;
      filter: drop-shadow(-10px 10px #992444);
      box-shadow: 0px 0px 40px #992444;
  }
  
  .vinyl-yellow {
    position: absolute;
    -webkit-animation:spinCC 4s linear infinite;
    -moz-animation:spinCC 4s linear infinite;
    animation:spinCC 4s linear infinite;
  }
  
  .glow-menu {
    /* filter: drop-shadow(0 0 20px #992444); */
    transform: rotate(-3deg);
  }